<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyc.presentation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.pyc.presentation.audiofilepicker.view.AudioFilePickerActivity"
            android:exported="true"
            android:label="@string/title_activity_audio_file_picker"
            android:theme="@style/Theme.PlayYourColor">
        </activity>
        <activity
            android:name="com.pyc.presentation.editor.PlaylistEditorActivity"
            android:exported="false"
            android:label="@string/title_activity_playlist_editor"
            android:theme="@style/Theme.PlayYourColor" />
    </application>

</manifest>